*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --fonte: 'Kumbh Sans', sans-serif;
  --cor1: hsl(185, 75%, 39%);
  --cor2: hsl(229, 23%, 23%);
  --cor3: hsl(227, 10%, 46%);
  --cor4: hsl(0, 0%, 59%);
}

body{
  background-color: var(--cor1);
  background-image: url(./images/bg-pattern-top.svg);
  
}

.container{
  background-color: rgb(247, 247, 247);
  width: 300px;
  height: 350px;
  margin: 130px auto;
  border-radius: 10px;
}

.box{
  position: relative;
  background-image: url(./images/bg-pattern-card.svg);
  height: 120px;
  border-radius: 10px 10px 0 0;
}

.box1{
  margin-top: 80px;
  text-align: center;
}

span{
  font-size: 15px;
  font-weight: bold;
  font-family: var(--fonte);
}

#age{
  color: var(--cor4);
}

.city{
  font-size: 15px;
  color: var(--cor4);
  font-family: var(--fonte);
  padding-top: 8px;
  padding-bottom: 13px;
}

.line{
  border-color: rgba(128, 128, 128, 0.103);
}

img{
  position: absolute;
  border-radius: 50%;
  top: 80px;
  left: 100px;
  border: 6px solid white;
}



.box2{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
  text-align: center;
}

.item, .item2, .item3{
  font-family: var(--fonte);
  padding: 5px;
  font-size: 8px;
  color: var(--cor2);
}

p{
  font-family: var(--fonte);
  color: var(--cor4);
  text-align: center;
  padding-top: 5px;
  font-size: 8px;
  letter-spacing: 2px;
}

.attribution { 
  font-size: 11px; 
  text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}